In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

Equites_Historical_NonAdjusted_Prices.csv
Untitled.ipynb
Untitled1.ipynb
news.csv

In [55]:
df = pd.read_csv('Equites_Historical_NonAdjusted_Prices.csv',usecols=['Industry Group', 'Symbol', 'Company Name', 'Date', 'Open', 'High',
       'Low', 'Close', 'Change', '% Change', 'Volume Traded',
       'Value Traded (SAR)', 'No. of Trades'])

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446113 entries, 0 to 446112
Data columns (total 13 columns):
Industry Group        446113 non-null object
Symbol                446113 non-null int64
Company Name          446113 non-null object
Date                  446113 non-null object
Open                  446113 non-null float64
High                  446113 non-null float64
Low                   446113 non-null float64
Close                 446113 non-null float64
Change                446113 non-null float64
% Change              446113 non-null float64
Volume Traded         446113 non-null int64
Value Traded (SAR)    446113 non-null float64
No. of Trades         446113 non-null int64
dtypes: float64(7), int64(3), object(3)
memory usage: 44.2+ MB

In [57]:
df.shape

(446113, 13)

In [58]:
df['Industry Group'].value_counts()

Materials                           104267
Insurance                            87565
Food & Beverages                     32864
Capital Goods                        31580
Banks                                28482
Real Estate Mgmt & Dev't             25185
Consumer Services                    15161
Retailing                            14342
Consumer Durables & Apparel          12055
Transportation                       11990
Telecommunication Services           11232
Health Care Equipment & Svc          10928
Energy                               10888
Diversified Financials               10888
Food & Staples Retailing              9610
REITs                                 8037
Utilities                             5444
Media and Entertainment               5444
Commercial & Professional Svc         4673
Pharma &  Biotech & Life Science      2722
Tadawul All Share Index (TASI)        2610
Software & Services                    146
Name: Industry Group, dtype: int64

In [59]:
type(df)

pandas.core.frame.DataFrame

In [60]:
df.columns

Index(['Industry Group', 'Symbol', 'Company Name', 'Date', 'Open', 'High',
       'Low', 'Close', 'Change', '% Change', 'Volume Traded',
       'Value Traded (SAR)', 'No. of Trades'],
      dtype='object')

In [61]:
df.head()

,Industry Group,Symbol,Company Name,Date,Open,High,Low,Close,Change,% Change,Volume Traded,Value Traded (SAR),No. of Trades
0,Banks,1010,Riyad Bank,16/10/2019,20.72,21.14,20.34,20.96,-0.02,-0.10,2513465,5.198970e+07,1586
1,Banks,1010,Riyad Bank,17/10/2019,20.96,21.24,20.82,21.20,0.24,1.15,3653403,7.723556e+07,1583
2,Banks,1010,Riyad Bank,14/10/2019,22.20,22.40,21.78,21.86,-0.60,-2.67,5476771,1.210429e+08,958
3,Banks,1010,Riyad Bank,15/10/2019,21.52,21.72,20.84,20.98,-0.88,-4.03,2639243,5.553965e+07,1535
4,Banks,1010,Riyad Bank,09/10/2019,22.90,23.08,22.80,23.00,-0.20,-0.86,836308,1.920035e+07,1315

In [62]:
df['Symbol'].value_counts()

2050    2722
8080    2722
6050    2722
4001    2722
8190    2722
6040    2722
2200    2722
4250    2722
4240    2722
1212    2722
2190    2722
4140    2722
2350    2722
6020    2722
8070    2722
2180    2722
2210    2722
4260    2722
8100    2722
2090    2722
2340    2722
4010    2722
4270    2722
2220    2722
1060    2722
4150    2722
6060    2722
6070    2722
4020    2722
2230    2722
        ...
4330     761
4331     693
6012     686
4191     686
4332     641
4333     619
4012     607
3008     596
4334     564
3007     551
4335     542
4336     517
4338     471
4337     463
4342     447
4340     420
4339     416
7050     399
4344     390
4347     334
4345     326
1830     306
4346     262
4291     259
6030     200
4348     171
7200     146
4321     126
1831     112
4292      81
Name: Symbol, Length: 205, dtype: int64

In [71]:
df.Date.value_counts()

2019-11-09    197
2019-10-16    197
2019-11-19    197
2019-11-24    197
2019-11-20    197
2019-10-31    197
2019-08-21    197
2019-09-29    197
2019-09-25    197
2019-07-08    197
2019-07-10    197
2019-10-09    197
2019-05-09    197
2019-11-14    197
2019-10-22    197
2019-10-15    197
2019-01-08    197
2019-11-28    197
2019-10-28    197
2019-09-18    197
2019-08-22    197
2019-08-26    197
2019-11-13    197
2019-09-24    197
2019-05-11    197
2019-08-25    197
2019-08-19    197
2019-10-17    197
2019-09-19    197
2019-09-22    197
             ...
2009-01-24    127
2009-03-17    127
2009-04-03    127
2009-01-31    127
2009-02-25    127
2009-01-27    127
2009-01-13    127
2009-01-18    127
2009-04-01    127
2009-12-01    127
2009-02-21    127
2009-03-16    127
2009-02-16    127
2009-03-14    127
2009-11-03    127
2009-04-02    127
2009-02-28    127
2009-02-14    127
2009-02-18    127
2009-02-03    127
2009-07-02    127
2009-01-17    127
2009-01-28    127
2009-05-01    127
2009-02-02    127
2009-01-02    127
2009-10-02    127
2009-11-02    127
2009-01-26    127
2009-06-01    127
Name: Date, Length: 2722, dtype: int64

In [64]:
df.Date = pd.to_datetime(df.Date)

In [50]:
df.set_index('Date',inplace=True)

In [65]:
df

,Industry Group,Symbol,Company Name,Date,Open,High,Low,Close,Change,% Change,Volume Traded,Value Traded (SAR),No. of Trades
0,Banks,1010,Riyad Bank,2019-10-16,20.72,21.14,20.34,20.96,-0.02,-0.10,2513465,5.198970e+07,1586
1,Banks,1010,Riyad Bank,2019-10-17,20.96,21.24,20.82,21.20,0.24,1.15,3653403,7.723556e+07,1583
2,Banks,1010,Riyad Bank,2019-10-14,22.20,22.40,21.78,21.86,-0.60,-2.67,5476771,1.210429e+08,958
3,Banks,1010,Riyad Bank,2019-10-15,21.52,21.72,20.84,20.98,-0.88,-4.03,2639243,5.553965e+07,1535
4,Banks,1010,Riyad Bank,2019-09-10,22.90,23.08,22.80,23.00,-0.20,-0.86,836308,1.920035e+07,1315
5,Banks,1010,Riyad Bank,2019-10-10,22.84,23.10,22.60,22.98,-0.02,-0.09,1221805,2.789401e+07,2018
6,Banks,1010,Riyad Bank,2019-10-13,23.00,23.10,22.46,22.46,-0.52,-2.26,800719,1.823199e+07,1204
7,Banks,1010,Riyad Bank,2019-03-11,22.00,22.00,21.32,21.34,-0.86,-3.87,791687,1.707278e+07,521
8,Banks,1010,Riyad Bank,2019-04-11,21.28,21.50,21.08,21.50,0.16,0.75,1028420,2.192899e+07,989
9,Banks,1010,Riyad Bank,2019-10-29,22.00,22.20,21.66,21.70,-0.30,-1.36,2117672,4.634771e+07,1190
10,Banks,1010,Riyad Bank,2019-10-30,21.60,22.28,21.60,22.20,0.50,2.30,941790,2.086567e+07,595
11,Banks,1010,Riyad Bank,2019-10-27,22.20,22.34,22.00,22.00,-0.02,-0.09,1753769,3.900088e+07,522
12,Banks,1010,Riyad Bank,2019-10-28,22.00,22.28,22.00,22.00,0.00,0.00,1716174,3.799800e+07,1030
13,Banks,1010,Riyad Bank,2019-10-23,21.90,22.20,21.76,22.00,0.00,0.00,2318743,5.107645e+07,1386
14,Banks,1010,Riyad Bank,2019-10-24,22.02,22.08,21.90,22.02,0.02,0.09,1623945,3.570770e+07,1121
15,Banks,1010,Riyad Bank,2019-11-14,21.60,21.80,21.58,21.72,0.18,0.84,1629601,3.490411e+07,789
16,Banks,1010,Riyad Bank,2019-11-17,21.80,21.80,21.66,21.76,0.04,0.18,504314,1.094486e+07,384
17,Banks,1010,Riyad Bank,2019-11-11,21.56,21.62,21.50,21.58,0.08,0.37,1529763,3.301027e+07,920
18,Banks,1010,Riyad Bank,2019-12-11,21.58,21.76,21.54,21.70,0.12,0.56,2873780,6.226370e+07,1336
19,Banks,1010,Riyad Bank,2019-11-13,21.70,21.80,21.46,21.54,-0.16,-0.74,2451009,5.314197e+07,1107
20,Banks,1010,Riyad Bank,2019-07-11,21.50,21.70,21.46,21.46,-0.20,-0.92,1744347,3.760175e+07,1088
21,Banks,1010,Riyad Bank,2019-10-11,21.52,21.78,21.48,21.50,0.04,0.19,1761599,3.803656e+07,783
22,Banks,1010,Riyad Bank,2019-05-11,21.56,22.00,21.30,21.70,0.20,0.93,1836219,3.975469e+07,1569
23,Banks,1010,Riyad Bank,2019-06-11,21.68,21.96,21.60,21.66,-0.04,-0.18,768287,1.670346e+07,1419
24,Banks,1010,Riyad Bank,2019-10-31,22.10,22.24,22.02,22.20,0.00,0.00,1183307,2.623573e+07,543
25,Banks,1010,Riyad Bank,2019-11-27,21.76,21.90,21.70,21.72,0.14,0.65,1637540,3.568464e+07,1175
26,Banks,1010,Riyad Bank,2019-11-28,21.70,22.18,21.66,22.00,0.28,1.29,1693876,3.671371e+07,852
27,Banks,1010,Riyad Bank,2019-11-24,21.98,22.08,21.96,22.08,0.08,0.36,676455,1.489980e+07,440
28,Banks,1010,Riyad Bank,2019-11-25,22.00,22.18,21.80,22.08,0.00,0.00,2414225,5.285298e+07,1127
29,Banks,1010,Riyad Bank,2019-11-26,22.06,22.14,21.58,21.58,-0.50,-2.26,3514109,7.631615e+07,1074
...,...,...,...,...,...,...,...,...,...,...,...,...,...
446083,Insurance,8312,Alinma Tokio Marine Co.,2019-10-30,10.78,10.92,10.78,10.80,0.00,0.00,139956,1.515566e+06,211
446084,Insurance,8312,Alinma Tokio Marine Co.,2019-10-31,10.80,10.94,10.74,10.86,0.06,0.56,87974,9.553064e+05,142
446085,Insurance,8312,Alinma Tokio Marine Co.,2019-10-28,11.22,11.24,11.04,11.10,-0.10,-0.89,81827,9.145374e+05,130
446086,Insurance,8312,Alinma Tokio Marine Co.,2019-10-29,10.94,11.00,10.80,10.80,-0.30,-2.70,85171,9.274488e+05,121
446087,Insurance,8312,Alinma Tokio Marine Co.,2019-10-24,11.44,11.44,11.30,11.40,0.00,0.00,88286,1.004516e+06,134
446088,Insurance,8312,Alinma Tokio Marine Co.,2019-10-27,11.40,11.40,11.20,11.20,-0.20,-1.75,83616,9.433001e+05,115
446089,Insurance,8312,Alinma Tokio Marine Co.,2019-10-22,11.16,11.70,11.16,11.36,0.10,0.89,427290,4.898365e+06,511
446090,Insurance,8312,Alinma Tokio Marine Co.,2019-10-23,11.40,11.60,11.34,11.40,0.04,0.35,171473,1.966262e+06,241
446091,Insurance,8312,Alinma Tokio Marine Co.,2019-09-18,11.50,11.74,11.50,11.54,-0.14,-1.20,121114,1.410771e+06,187
446092,Insurance,8312,Alinma Tokio Marine Co.,2019-09-19,11.50,11.60,11.28,11.28,-0.26,-2.25,118118,1.344018e+06,246
446093,Insurance,8312,Alinma Tokio Marine Co.,2019-09-16,11.86,11.90,11.74,11.76,-0.10,-0.84,90095,1.065191e+06,162
446094,Insurance,8312,Alinma Tokio Marine Co.,2019-09-17,11.82,11.82,11.64,11.68,-0.08,-0.68,66344,7.781548e+05,154
446095,Insurance,8312,Alinma Tokio Marine Co.,2019-12-09,12.02,12.10,11.94,12.00,-0.04,-0.33,90282,1.085530e+06,187
446096,Insurance,8312,Alinma Tokio Marine Co.,2019-09-15,11.90,12.00,11.80,11.86,-0.14,-1.17,74476,8.834697e+05,140
446097,Insurance,8312,Alinma Tokio Marine Co.,2019-10-09,12.24,12.26,12.10,12.22,-0.02,-0.16,137977,1.679552e+06,230
446098,Insurance,8312,Alinma Tokio Marine Co.,2019-11-09,12.36,12.36,12.00,12.04,-0.18,-1.47,175830,2.140880e+06,315
446099,Insurance,8312,Alinma Tokio Marine Co.,2019-08-09,12.08,12.58,12.02,12.24,0.26,2.17,681324,8.445336e+06,868
446100,Insurance,8312,Alinma Tokio Marine Co.,2019-09-09,12.26,12.30,12.20,12.24,0.00,0.00,96703,1.185586e+06,200
446101,Insurance,8312,Alinma Tokio Marine Co.,2019-04-09,11.86,11.96,11.82,11.94,0.14,1.19,114724,1.366889e+06,163
446102,Insurance,8312,Alinma Tokio Marine Co.,2019-05-09,12.00,12.10,11.94,11.98,0.04,0.34,106684,1.281148e+06,197
446103,Insurance,8312,Alinma Tokio Marine Co.,2019-02-09,11.72,11.84,11.72,11.84,0.16,1.37,38596,4.546964e+05,102
446104,Insurance,8312,Alinma Tokio Marine Co.,2019-03-09,11.86,11.92,11.74,11.80,-0.04,-0.34,85583,1.013241e+06,169
446105,Insurance,8312,Alinma Tokio Marine Co.,2019-08-29,12.00,12.16,11.92,11.92,0.00,0.00,115571,1.390305e+06,198
446106,Insurance,8312,Alinma Tokio Marine Co.,2019-10-14,11.10,11.10,11.00,11.00,0.00,0.00,30906,3.413487e+05,78
446107,Insurance,8312,Alinma Tokio Marine Co.,2019-10-15,10.94,11.02,10.94,10.94,-0.06,-0.55,27222,2.988424e+05,71
446108,Insurance,8312,Alinma Tokio Marine Co.,2019-10-10,11.10,11.16,11.10,11.10,-0.14,-1.25,31598,3.519913e+05,101
446109,Insurance,8312,Alinma Tokio Marine Co.,2019-10-13,11.12,11.18,11.00,11.00,-0.10,-0.90,48134,5.341280e+05,99
446110,Insurance,8312,Alinma Tokio Marine Co.,2019-08-10,11.50,11.50,11.42,11.44,-0.20,-1.72,40676,4.655049e+05,94
446111,Insurance,8312,Alinma Tokio Marine Co.,2019-09-10,11.40,11.40,11.22,11.24,-0.20,-1.75,34298,3.885270e+05,102
446112,Insurance,8312,Alinma Tokio Marine Co.,2019-07-14,12.46,12.70,12.46,12.68,0.08,0.63,233230,2.950401e+06,249

In [66]:
df['day'] = pd.DatetimeIndex(df['Date']).day

In [67]:
df['year'] = pd.DatetimeIndex(df['Date']).year

In [68]:
df['month'] = pd.DatetimeIndex(df['Date']).month

In [73]:
df[df['year']== 2019]

,Industry Group,Symbol,Company Name,Date,Open,High,Low,Close,Change,% Change,Volume Traded,Value Traded (SAR),No. of Trades,day,year,month
0,Banks,1010,Riyad Bank,2019-10-16,20.72,21.14,20.34,20.96,-0.02,-0.10,2513465,5.198970e+07,1586,16,2019,10
1,Banks,1010,Riyad Bank,2019-10-17,20.96,21.24,20.82,21.20,0.24,1.15,3653403,7.723556e+07,1583,17,2019,10
2,Banks,1010,Riyad Bank,2019-10-14,22.20,22.40,21.78,21.86,-0.60,-2.67,5476771,1.210429e+08,958,14,2019,10
3,Banks,1010,Riyad Bank,2019-10-15,21.52,21.72,20.84,20.98,-0.88,-4.03,2639243,5.553965e+07,1535,15,2019,10
4,Banks,1010,Riyad Bank,2019-09-10,22.90,23.08,22.80,23.00,-0.20,-0.86,836308,1.920035e+07,1315,10,2019,9
5,Banks,1010,Riyad Bank,2019-10-10,22.84,23.10,22.60,22.98,-0.02,-0.09,1221805,2.789401e+07,2018,10,2019,10
6,Banks,1010,Riyad Bank,2019-10-13,23.00,23.10,22.46,22.46,-0.52,-2.26,800719,1.823199e+07,1204,13,2019,10
7,Banks,1010,Riyad Bank,2019-03-11,22.00,22.00,21.32,21.34,-0.86,-3.87,791687,1.707278e+07,521,11,2019,3
8,Banks,1010,Riyad Bank,2019-04-11,21.28,21.50,21.08,21.50,0.16,0.75,1028420,2.192899e+07,989,11,2019,4
9,Banks,1010,Riyad Bank,2019-10-29,22.00,22.20,21.66,21.70,-0.30,-1.36,2117672,4.634771e+07,1190,29,2019,10
10,Banks,1010,Riyad Bank,2019-10-30,21.60,22.28,21.60,22.20,0.50,2.30,941790,2.086567e+07,595,30,2019,10
11,Banks,1010,Riyad Bank,2019-10-27,22.20,22.34,22.00,22.00,-0.02,-0.09,1753769,3.900088e+07,522,27,2019,10
12,Banks,1010,Riyad Bank,2019-10-28,22.00,22.28,22.00,22.00,0.00,0.00,1716174,3.799800e+07,1030,28,2019,10
13,Banks,1010,Riyad Bank,2019-10-23,21.90,22.20,21.76,22.00,0.00,0.00,2318743,5.107645e+07,1386,23,2019,10
14,Banks,1010,Riyad Bank,2019-10-24,22.02,22.08,21.90,22.02,0.02,0.09,1623945,3.570770e+07,1121,24,2019,10
15,Banks,1010,Riyad Bank,2019-11-14,21.60,21.80,21.58,21.72,0.18,0.84,1629601,3.490411e+07,789,14,2019,11
16,Banks,1010,Riyad Bank,2019-11-17,21.80,21.80,21.66,21.76,0.04,0.18,504314,1.094486e+07,384,17,2019,11
17,Banks,1010,Riyad Bank,2019-11-11,21.56,21.62,21.50,21.58,0.08,0.37,1529763,3.301027e+07,920,11,2019,11
18,Banks,1010,Riyad Bank,2019-12-11,21.58,21.76,21.54,21.70,0.12,0.56,2873780,6.226370e+07,1336,11,2019,12
19,Banks,1010,Riyad Bank,2019-11-13,21.70,21.80,21.46,21.54,-0.16,-0.74,2451009,5.314197e+07,1107,13,2019,11
20,Banks,1010,Riyad Bank,2019-07-11,21.50,21.70,21.46,21.46,-0.20,-0.92,1744347,3.760175e+07,1088,11,2019,7
21,Banks,1010,Riyad Bank,2019-10-11,21.52,21.78,21.48,21.50,0.04,0.19,1761599,3.803656e+07,783,11,2019,10
22,Banks,1010,Riyad Bank,2019-05-11,21.56,22.00,21.30,21.70,0.20,0.93,1836219,3.975469e+07,1569,11,2019,5
23,Banks,1010,Riyad Bank,2019-06-11,21.68,21.96,21.60,21.66,-0.04,-0.18,768287,1.670346e+07,1419,11,2019,6
24,Banks,1010,Riyad Bank,2019-10-31,22.10,22.24,22.02,22.20,0.00,0.00,1183307,2.623573e+07,543,31,2019,10
25,Banks,1010,Riyad Bank,2019-11-27,21.76,21.90,21.70,21.72,0.14,0.65,1637540,3.568464e+07,1175,27,2019,11
26,Banks,1010,Riyad Bank,2019-11-28,21.70,22.18,21.66,22.00,0.28,1.29,1693876,3.671371e+07,852,28,2019,11
27,Banks,1010,Riyad Bank,2019-11-24,21.98,22.08,21.96,22.08,0.08,0.36,676455,1.489980e+07,440,24,2019,11
28,Banks,1010,Riyad Bank,2019-11-25,22.00,22.18,21.80,22.08,0.00,0.00,2414225,5.285298e+07,1127,25,2019,11
29,Banks,1010,Riyad Bank,2019-11-26,22.06,22.14,21.58,21.58,-0.50,-2.26,3514109,7.631615e+07,1074,26,2019,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446083,Insurance,8312,Alinma Tokio Marine Co.,2019-10-30,10.78,10.92,10.78,10.80,0.00,0.00,139956,1.515566e+06,211,30,2019,10
446084,Insurance,8312,Alinma Tokio Marine Co.,2019-10-31,10.80,10.94,10.74,10.86,0.06,0.56,87974,9.553064e+05,142,31,2019,10
446085,Insurance,8312,Alinma Tokio Marine Co.,2019-10-28,11.22,11.24,11.04,11.10,-0.10,-0.89,81827,9.145374e+05,130,28,2019,10
446086,Insurance,8312,Alinma Tokio Marine Co.,2019-10-29,10.94,11.00,10.80,10.80,-0.30,-2.70,85171,9.274488e+05,121,29,2019,10
446087,Insurance,8312,Alinma Tokio Marine Co.,2019-10-24,11.44,11.44,11.30,11.40,0.00,0.00,88286,1.004516e+06,134,24,2019,10
446088,Insurance,8312,Alinma Tokio Marine Co.,2019-10-27,11.40,11.40,11.20,11.20,-0.20,-1.75,83616,9.433001e+05,115,27,2019,10
446089,Insurance,8312,Alinma Tokio Marine Co.,2019-10-22,11.16,11.70,11.16,11.36,0.10,0.89,427290,4.898365e+06,511,22,2019,10
446090,Insurance,8312,Alinma Tokio Marine Co.,2019-10-23,11.40,11.60,11.34,11.40,0.04,0.35,171473,1.966262e+06,241,23,2019,10
446091,Insurance,8312,Alinma Tokio Marine Co.,2019-09-18,11.50,11.74,11.50,11.54,-0.14,-1.20,121114,1.410771e+06,187,18,2019,9
446092,Insurance,8312,Alinma Tokio Marine Co.,2019-09-19,11.50,11.60,11.28,11.28,-0.26,-2.25,118118,1.344018e+06,246,19,2019,9
446093,Insurance,8312,Alinma Tokio Marine Co.,2019-09-16,11.86,11.90,11.74,11.76,-0.10,-0.84,90095,1.065191e+06,162,16,2019,9
446094,Insurance,8312,Alinma Tokio Marine Co.,2019-09-17,11.82,11.82,11.64,11.68,-0.08,-0.68,66344,7.781548e+05,154,17,2019,9
446095,Insurance,8312,Alinma Tokio Marine Co.,2019-12-09,12.02,12.10,11.94,12.00,-0.04,-0.33,90282,1.085530e+06,187,9,2019,12
446096,Insurance,8312,Alinma Tokio Marine Co.,2019-09-15,11.90,12.00,11.80,11.86,-0.14,-1.17,74476,8.834697e+05,140,15,2019,9
446097,Insurance,8312,Alinma Tokio Marine Co.,2019-10-09,12.24,12.26,12.10,12.22,-0.02,-0.16,137977,1.679552e+06,230,9,2019,10
446098,Insurance,8312,Alinma Tokio Marine Co.,2019-11-09,12.36,12.36,12.00,12.04,-0.18,-1.47,175830,2.140880e+06,315,9,2019,11
446099,Insurance,8312,Alinma Tokio Marine Co.,2019-08-09,12.08,12.58,12.02,12.24,0.26,2.17,681324,8.445336e+06,868,9,2019,8
446100,Insurance,8312,Alinma Tokio Marine Co.,2019-09-09,12.26,12.30,12.20,12.24,0.00,0.00,96703,1.185586e+06,200,9,2019,9
446101,Insurance,8312,Alinma Tokio Marine Co.,2019-04-09,11.86,11.96,11.82,11.94,0.14,1.19,114724,1.366889e+06,163,9,2019,4
446102,Insurance,8312,Alinma Tokio Marine Co.,2019-05-09,12.00,12.10,11.94,11.98,0.04,0.34,106684,1.281148e+06,197,9,2019,5
446103,Insurance,8312,Alinma Tokio Marine Co.,2019-02-09,11.72,11.84,11.72,11.84,0.16,1.37,38596,4.546964e+05,102,9,2019,2
446104,Insurance,8312,Alinma Tokio Marine Co.,2019-03-09,11.86,11.92,11.74,11.80,-0.04,-0.34,85583,1.013241e+06,169,9,2019,3
446105,Insurance,8312,Alinma Tokio Marine Co.,2019-08-29,12.00,12.16,11.92,11.92,0.00,0.00,115571,1.390305e+06,198,29,2019,8
446106,Insurance,8312,Alinma Tokio Marine Co.,2019-10-14,11.10,11.10,11.00,11.00,0.00,0.00,30906,3.413487e+05,78,14,2019,10
446107,Insurance,8312,Alinma Tokio Marine Co.,2019-10-15,10.94,11.02,10.94,10.94,-0.06,-0.55,27222,2.988424e+05,71,15,2019,10
446108,Insurance,8312,Alinma Tokio Marine Co.,2019-10-10,11.10,11.16,11.10,11.10,-0.14,-1.25,31598,3.519913e+05,101,10,2019,10
446109,Insurance,8312,Alinma Tokio Marine Co.,2019-10-13,11.12,11.18,11.00,11.00,-0.10,-0.90,48134,5.341280e+05,99,13,2019,10
446110,Insurance,8312,Alinma Tokio Marine Co.,2019-08-10,11.50,11.50,11.42,11.44,-0.20,-1.72,40676,4.655049e+05,94,10,2019,8
446111,Insurance,8312,Alinma Tokio Marine Co.,2019-09-10,11.40,11.40,11.22,11.24,-0.20,-1.75,34298,3.885270e+05,102,10,2019,9
446112,Insurance,8312,Alinma Tokio Marine Co.,2019-07-14,12.46,12.70,12.46,12.68,0.08,0.63,233230,2.950401e+06,249,14,2019,7

In [74]:
from numpy import array
from keras.preprocessing.text import one_hot
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers.core import Activation, Dropout, Dense
from keras.layers import Flatten, LSTM
from keras.layers import GlobalMaxPooling1D
from keras.models import Model
from keras.layers.embeddings import Embedding
from sklearn.model_selection import train_test_split
from keras.preprocessing.text import Tokenizer
from keras.layers import Input
from keras.layers.merge import Concatenate
from keras.layers import Bidirectional

import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt

Using TensorFlow backend.